---
layout: page
---
<div class="date">
  <span>{{ page.date | date_to_long_string }}</span>
</div>
<div class="content">
  {{ content }}
</div>

{% unless page.categories == empty %}
<ul class="tag_box inline">
  <li><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;&nbsp;&nbsp;</li>
  {% assign categories_list = page.categories %}
  {% include base/categories_list %}
</ul>
{% endunless %}  

{% unless page.tags == empty %}
<ul class="tag_box inline">
  <li><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;&nbsp;</li>
  {% assign tags_list = page.tags %}
  {% include base/tags_list %}
</ul>
{% endunless %}  
<hr>
<div class="text-center">
        <div class="fb-comments" data-href="http://edwrodrig.github.io/{{ page.url }}" data-numposts="5" data-colorscheme="light"></div>
</div>

